      <!-- footer -->
      <div class="row perl-footer">
        <div class="col-md-8 perl-footer-credits">
          &copy; APPP 2015. Todos os direitos reservados.<br>
          Powered by <a href="http://perl6.org">Perl 6</a> | Source: <a href="https://github.com/APPP/perl.pt">https://github.com/APPP/perl.pt</a>
        </div>
        <div class="col-md-4 perl-footer-links">
          <a href="[% base_uri %]rss.xml" title="Feed"><span class="icon-feed3"></span></a>
          <a href="https://www.facebook.com/groups/102535819783075/" title="Facebook"><span class="icon-facebook2"></span></a>
          <a href="http://www.twitter.com/perl_pt" title="Twitter"><span class="icon-twitter2"></span></a>
          <a href="http://www.linkedin.com/groups?home=&gid=39759&trk=anet_ug_hm" title="Linkedin"><span class="icon-linkedin"></span></a>
        </div>
      </div>
      <!-- footer -->
