<div class="row perl-news">
  [% FOR post IN latest %]
    <div class="col-md-3"><img class="img-responsive" src="[% post.img %]"></div>
    <div class="col-md-9">
      <a class="perl-news-title" href="posts/[% post.basename %].html">[% post.title %]</a>
      <div class="perl-news-editor">[% post.when %], por [% post.who %]</div>
      <div class="perl-news-body">[% post.stub %] ...</div>
    </div>
    <!-- hruler --> <div class="col-md-12"><hr></div>
  [% END %]
</div>
