<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="[% base_uri %]css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>perl.pt</title>
  </head>
  <body>
    <div class="container">
      [% INCLUDE '../templates/header' %]
      <div class="row">
        <div class="col-md-2 splash">[% INCLUDE '../templates/menu' %]</div>
        <div class="col-md-10 latest">[% content %]</div>
      </div>
      [% INCLUDE '../templates/footer' %]
    </div>
  </body>
</html>