<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>perl.pt</title>
    <!-- mambo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>

    <!-- custom mambo -->
    <link href="[% base_uri %]assets/style.css" rel="stylesheet"/>
    <link rel="alternate" type="application/rss+xml" 
            title="RSS Feed for Perl.pt" href="/rss.xml" />
  </head>
  <body>
    <script>hljs.initHighlightingOnLoad();</script>
    <div class="container">
      [% INCLUDE '../templates/header' %]

      <!-- divider -->
      <div class="row perl-divider">
        <div class="col-md-2 col-lg-2 perl-main-menu-bg">
          [% INCLUDE '../templates/menu' %]
        </div>
        <div class="col-md-9 col-lg-10">
          [% content %]

          [% if post %]
          <div style="text-align: center">

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'perl-pt';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


          </div>
          [% end %]
        </div>
      </div>
      <!-- divider -->
      <hr>

      [% INCLUDE '../templates/footer' %]
    </div>
  </body>
</html>