<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>perl.pt</title>
    <!-- mambo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>

    <!-- custom mambo -->
    <link href="[% base_uri %]assets/style.css" rel="stylesheet"/>
    <link rel="alternate" type="application/rss+xml" 
            title="RSS Feed for Perl.pt" 
          href="/rss.xml" />
  </head>
  <body>
    <script>hljs.initHighlightingOnLoad();</script>
    <div class="container">
      [% INCLUDE '../templates/header' %]

      <!-- divider -->
      <div class="row perl-divider">
        <div class="col-md-2 col-lg-2 perl-main-menu-bg">
          [% INCLUDE '../templates/menu' %]
        </div>
        <div class="col-md-9 col-lg-10">
          [% content %]

          [% if post %]
          <div style="text-align: center">
          <div id="fb-root" style="width: 600px;"></div><script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
              fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>

              <div class="fb-comments" data-href="http://perl.pt/posts/[% basename %].html" data-numposts="5"></div>
          </div>
          [% end %]
        </div>
      </div>
      <!-- divider -->
      <hr>

      [% INCLUDE '../templates/footer' %]
    </div>
  </body>
</html>